body {
    font-family: 'Cinzel', serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 20, 21);
    /* color: rgb(16, 79, 77) */
    color: rgb(25, 169, 161);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.header {
    height: 200px;
}

.header-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 20, 21);
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-bar {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.select-bar-sub-menu {
    display: none;
}

.select-bar:hover .select-bar-sub-menu {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 150px;
    margin-top: 15px;

}

.select-bar-sub-menu>ul {
    list-style-type: none;
    cursor: pointer;

}

.select-bar-sub-menu>ul>li {
    padding: 5px;
    border-bottom: 1px dashed black;

    cursor: pointer;

}

.logo {
    font-size: 24px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}


div.navbar {
    display: flex;

    padding-left: 84px;
    opacity: 1;
}

.navbar>ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    margin-left: -45px;

}

.navbar>ul>li {
    margin: 0;
    margin-left: 45px;
}

.navbar>ul>li:hover {
    /* width: 70px; */
    /* color:red !important; */
    background-color: transparent;
    /* box-shadow: 4px 4px 10px rgb(80, 227, 148); */
    border-radius: 6px;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: rgb(25, 169, 161);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    transition: 0.2s all;
}

a:-webkit-any-link:hover {
    font-size: 1.2rem;
    /* font-weight: bold; */
    color: rgb(33, 214, 205);
    text-shadow: 0.1px 0.1px #fff;
    transition: 0.2s all;
    background-color: transparent;

}

.container {
    /* width: 100%;
    height: 100%; */
    padding: 60px;
    margin-top: 150px;
    text-decoration: rgb(25, 169, 161);
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wallet {
    width: 160px;
    height: 60px;
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgb(80, 227, 148);
    padding: 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 20, 21);
}

/* .wallet::before {
    content: "";
    background-image: conic-gradient(rgb(25, 169, 161) 20deg,
            transparent 120deg);
    width: 160px;
    height: 60px;
    position: absolute;
    animation: animate 2s linear infinite;
} */

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.wallet::after {
    /* content: "Connect to wallet"; */
    width: 150px;
    height: 52px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(25, 169, 161);
    background-color: rgb(12, 20, 21);
    inset: 5px;
    /* box-shadow: inset 10px 10px 10px rgb(80, 227, 148); */
}

.wallet-text {
    color: rgb(80, 227, 148);
}

h3 {
    color: rgb(25, 169, 161);
    text-align: center;
    font-size: 28px;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.contract-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    height: 550px;
    margin: 20px;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

.contract-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.target-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

.target-details {
    list-style: none;
    margin-top: 10px;
    border-top: solid 1px rgba(25, 169, 162, 0.516);
}

.target-details>li {
    padding: 10px;
    margin: 5px;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

label[for="id"] {
    display: none;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgba(25, 169, 162, 0.516);
    z-index: 9;
    padding: 50px;
    text-align: center;
    background-color: white;

    /* width: 400px; */
    /* border-radius: 10% */
}

/* .form-popup-container{
    position: relative;
} */

.bi-x-lg {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.bi-x-lg:hover {
    cursor: pointer;
}

.metamask {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.metamask:hover {
    cursor: pointer;
}

.metamask img {
    width: 5%;
    height: 5%;
}

.wallet-opener {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}