body {
    font-family: 'Cinzel', serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(12, 20, 21);
    /* color: rgb(16, 79, 77) */
    color: rgb(25, 169, 161);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}


.header {
    height: 200px;
}

.header-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 20, 21);
    padding: 30px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.header-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-bar {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.select-bar-sub-menu {
    display: none;
}

.select-bar:hover .select-bar-sub-menu {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 150px;
    margin-top: 15px;

}

.select-bar-sub-menu>ul {
    list-style-type: none;
    cursor: pointer;

}

.select-bar-sub-menu>ul>li {
    padding: 5px;
    border-bottom: 1px dashed black;

    cursor: pointer;

}

.logo {
    font-size: 24px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}


div.navbar {
    display: flex;

    padding-left: 84px;
    opacity: 1;
}

.navbar>ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    margin-left: -45px;

}

.navbar>ul>li {
    margin: 0;
    margin-left: 45px;
}

.navbar>ul>li:hover {
    /* width: 70px; */
    /* color:red !important; */
    background-color: transparent;
    /* box-shadow: 4px 4px 10px rgb(80, 227, 148); */
    border-radius: 6px;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: rgb(25, 169, 161);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    transition: 0.2s all;
}

a:-webkit-any-link:hover {
    font-size: 1.2rem;
    /* font-weight: bold; */
    color: rgb(33, 214, 205);
    text-shadow: 0.1px 0.1px #fff;
    transition: 0.2s all;
    background-color: transparent;

}

/* .container {
    width: 100%;
    height: 100%;
    padding: 60px;
    margin-top: 150px;
    text-decoration: rgb(25, 169, 161);
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

.wallet {
    width: 160px;
    height: 60px;
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgb(80, 227, 148);
    padding: 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 20, 21);
}

/* .wallet::before {
    content: "";
    background-image: conic-gradient(rgb(25, 169, 161) 20deg,
            transparent 120deg);
    width: 160px;
    height: 60px;
    position: absolute;
    animation: animate 2s linear infinite;
} */

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.wallet::after {
    /* content: "Connect to wallet"; */
    width: 150px;
    height: 52px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(25, 169, 161);
    background-color: rgb(12, 20, 21);
    inset: 5px;
    /* box-shadow: inset 10px 10px 10px rgb(80, 227, 148); */
}

.wallet-text {
    color: rgb(80, 227, 148);
}


/* .container {
    display: flex;
    flex-wrap: wrap;

}

.contract-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    height: 500px;

    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

.contract-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.target-picture {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

.target-picture>img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.target-details {
    list-style: none;
    margin-top: 20px;
    border-top: solid 1px rgba(25, 169, 162, 0.516);
}

.target-details>li {
    padding: 10px;

    margin-top: 10px;
    margin-left: 10px;
} */

* {
    box-sizing: border-box !important;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgba(25, 169, 162, 0.516);
    z-index: 9;
    padding: 50px;
    text-align: center;
    background-color: white;

    /* width: 400px; */
    /* border-radius: 10% */
}

/* .form-popup-container{
    position: relative;
} */

.bi-x-lg {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.bi-x-lg:hover {
    cursor: pointer;
}

.metamask {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.metamask:hover {
    cursor: pointer;
}

.metamask img {
    width: 5%;
    height: 5%;
}

.wallet-opener {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}


/* chatroom */


#chat-bubble {
    height: 70px;
    overflow: hidden;
    min-width: 285px;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    position: fixed;
    bottom: 0;
    right: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 2px rgba(25, 169, 162, 0.516);
    color: rgb(255, 255, 255);
}

#chat-bubble.open {
    min-height: 350px;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 25px;
    z-index: 10;
    position: relative;
    padding: 8px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    transition: background-color 0.3s ease-in;
}

.chat-header:hover {
    background-color: rgb(12, 20, 21);
}

.user-avatar {
    display: flex;
    flex: 1;
}

.user-avatar img {
    border-radius: 50%;
    margin-right: 8px;
}

.user-avatar .img-container {
    position: relative;
}

.user-avatar .img-container::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #1ba71b;
    position: absolute;
    right: 4px;
    bottom: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.user-avatar .user-status-info a {
    font-size: 13px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.user-avatar .user-status-info p {
    font-size: 11px;
    color: gray;
}

.chat-comm {
    display: none;
}

#chat-bubble.open .chat-comm {
    display: block;
}

.chat-comm a {
    text-decoration: none;
}

.chat-comm a:not(:last-child) {
    margin-right: 8px;
}

.chat-body {
    padding: 8px;
}

.sender-other .user-avatar .img-container img {
    width: 25px;
}

.sender-other .user-avatar .img-container::after {
    width: 7px;
    height: 7px;
    right: 4px;
    bottom: 6px;
}

.sender-other .other-message {
    background-color: #f1f0f0;
    border-radius: 25px;
    padding: 8px 11px;
    font-size: 14px;
}

.sender-me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sender-me .my-message {
    background-color: #3578e5;
    color: #fff;
    border-radius: 25px;
    padding: 8px 11px;
    font-size: 14px;
}

.sender-me .seen-at {
    display: flex;
    align-items: center;
    color: #90949C;
    font-size: 11px;
    margin-top: 8px;
}

.sender-me .seen-at img.check {
    width: 12px;
    margin-right: 4px;
}

.chat-footer {
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 8px;
}

.chat-footer input[type=textarea] {
    width: 100%;
    border: none;
    padding: 0 8px;
}

.chat-footer svg path {
    fill: #bec2c9;
}

.chat-footer input[type=textarea]:focus {
    outline: none;
}

.chat-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.chat-media a {
    text-decoration: none;
}

.chat-media a:not(:last-child) {
    margin-right: 8px;
}

.chat-media img {
    width: 18px;
}

.chat-media img.game {
    width: 20px;
}

.chat-media img.attach {
    width: 14px;
}

.chat-media img.camera {
    width: 16px;
}

.chat-messages {
    max-height: 200px;
    width: 300px;
    overflow-y: scroll;

}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
}

.chat-form-container form {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 8px;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: rgb(25, 169, 161);
    border: 1px solid rgb(25, 169, 161);
    font-size: 17px;
    /* margin-left: 10px; */
    box-shadow: 2px 2px 5px rgb(80, 227, 148);
}

/* carousel */

.container {
    position: relative;
}

.container-carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 600px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;

}

div.item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);

    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    height: 550px;
    margin: 20px;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516); */
}

h1 {
    text-align: center;
}

.item-image {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin-bottom: 100px;
}

.item-image>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}

.item-name {
    text-align: center;
    margin-top: 5px;
}

.item-special {
    margin-top: 10px;
}


div.item:nth-of-type(1) {
    --offset: 1;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

div.item:nth-of-type(4) {
    --offset: 4;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

div.item:nth-of-type(5) {
    --offset: 5;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
    outline: none;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    outline: none;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
    outline: none;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
    outline: none;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
    --position: 5;
}

input[type="radio" i] {
    outline: none;
    cursor: pointer;

}

/* killer */

.container-killer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}

.killer-box {
    width: 300px;
    height: 500px;
    margin: 20px;
    background-image: linear-gradient(rgb(12, 20, 21), rgb(5, 34, 32));
    border-radius: 12px;
    border: solid 1px rgba(25, 169, 162, 0.516);
}